@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-instrument-serif: var(--font-instrument-serif);
  --font-great-vibes: var(--font-great-vibes);
  --font-alex-brush: var(--font-alex-brush);

  --spacing-10\.25: 2.5625rem;
  --spacing-11\.25: 2.8125rem;
  --spacing-25\.25: 6.3125rem;
  --spacing-46\.5: 11.625rem;
  --spacing-103\.5: 25.875rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: #ffffff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100%;
}